* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
}

.cabecalho {
  padding: 20px 40px;
  background-color: #1e293b;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.logo {
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img{
    height: 40px;
    width: auto;
}

.menu {
  list-style: none;
  display: flex;
}

.menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 0;
  margin: 15px;
  text-align: center;
}
.menu a:hover {
  color: aqua;
  transition: 0.5s;
  padding: 5px;
}

main {
  padding: 60px 40px;
  min-height: 60vh;
  background-color: #f8fafc;
}

.hero {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #1e293b;
  color: white;
}
